<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>first</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script src="semantic/semantic.min.js"></script>
  </head>


  <body>
    <div class="ui fixed inverted menu">
        <a class="item" href="#">Home</a>
        <a class="item" href="#">About</a>
        <a class="item" href="#">Other</a>
    </div>
    <div class="ui vertical basic segment">
      <div class="ui image">
        <img src="titleup.jpg" alt="">
      </div>
    </div>


    <div class="ui grid veay padded">
      <div class="ten wide column">
        <h1 class="ui header">
          <i class="icon star"></i>
          The first text
        </h1>
        <p>
        {{ zhaoxu }}
        </p>
      </div>
      <div class="six wide column">
        Lorem ipsum dolor sit amet.
      </div>
    </div>


    <div class="ui vertical inverted segment">
      <div class="ui grid very padded">
        <div class="four wide column">
          <div class="ui vertical inverted text menu">
            <div class="item">
              <h3 class="ui inverted header">
                  Company
              </h3>
            </div>
            <div class="item">
              Aderess:CN
            </div>
            <div class="item">
              Tel:010-7777777
            </div><div class="item">
              Fax:010-7777777
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui vertical inverted text menu">
            <div class="item">
              <h3 class="ui inverted header">
                Company
              </h3>
            </div>
            <div class="item">
              Aderess:CN
            </div>
            <div class="item">
              Tel:010-7777777
            </div><div class="item">
              Fax:010-7777777
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui vertical inverted text menu">
            <div class="item">
              <h3 class="ui inverted header">
                Company
              </h3>
            </div>
            <div class="item">
              Aderess:CN
            </div>
            <div class="item">
              Tel:010-7777777
            </div><div class="item">
              Fax:010-7777777
            </div>
          </div>

        </div>
        <div class="four wide column">
          <div class="ui vertical inverted text menu">
            <div class="item">
              <h3 class="ui inverted header">
                Company
              </h3>
            </div>
            <div class="item">
              Aderess:CN
            </div>
            <div class="item">
              Tel:010-7777777
            </div><div class="item">
              Fax:010-7777777
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
